body{
    background-image:linear-gradient(to top,rgba(0,0,0,0.5)60%,rgba(0,0,0,0.5)60%),url('background-image.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 70% 70%;
}
h1{
    text-align: center;
    font-weight: bolder;
    color:whitesmoke;
}
.header{
    color: blanchedalmond;
    margin: 50px 280px;
    padding: 20px;
    background: rgba(86, 98, 165, 0.2);
    border-radius: 15px;
    box-shadow: 0 2px 20px rgba(3, 8, 14, 0.1);
    backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(226, 209, 209, 0.15);
    width: 500px;
    height: 50vh;
}
.header h1{
    text-align: center;
    color: wheat;
    font-weight: bold;
    font-size: 20px;
}
.header label{
    margin: 20px 15px;
    color: rgb(215, 223, 208);
    font-size: 19px;
}
.header input{
    width: 150px;
}
.header button{
    margin: 20px 90px;
    width: 100px;
    border: 1px solid crimson;
    background-color: crimson;
    color: blanchedalmond;
}
.content1,.content2{
    position: absolute;
    display: block;
    top: 20px;
    width: 60%;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.content1{
    animation-name: animation-1;
}
.content2{
    animation-name: animation-2;
}
@keyframes animation-1{
    0%,6.3%{
        left: -90%;
        opacity: 0;
    }
    6.3%,30%{
        left: 30%;
        opacity: 1;
    }
    30.33%,100%{
        left: 120%;
        opacity: 0;
    }
}
@keyframes animation-2{
    0%,30.33%{
        left: -90%;
        opacity: 0;
    }
    43.63%,60.29%{
        left: 30%;
        opacity: 1;
    }
    60.66%,100%{
        left: 120%;
        opacity: 0;
    }
}
